@import '../../assets/style/var.scss';

.nav {
    height: calc(100vh - 71px);
    width: 256px;
    background-color: #fff;
    &__menu {
        padding: 40px 16px;
        a {
           padding: 19px;
           display: flex;
           align-items: center;
           margin-bottom: 8px; 
           font-weight: bold;
           border-radius: 8px;
           transition: .3s;
           &.active,
           &:hover {
                background-color: $color;
                color: #fff;
                i {
                    color: #fff;
                }
           }
           i {
               margin-right: 19px;
               color: #9A9AB0;
            }
           
        }
        
       
    }
}